@page "/"
@page "/hello"
@page "/hello/{name?}"

<h1>Hello, @Name</h1>

<MatButton>mybutton</MatButton>

<input type="text" @bind-value="Name" @bind-value:event="oninput" />

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />